<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="main.css">
    <script src="config.js" type="module"></script>
    <script src="components/componentLoader.js"></script>
    <script src="src/global.js" type="module"></script>
</head>

<body>
    <loader-element page="tab"></loader-element>
    <div id="tabs" class="toRow">
        <div id="openTabs">
            
        </div>
        <div id="newTab">
            <button id="newTabBtn">+</button>
        </div>
    </div>
    <hr>
    <div id="tabView">
        View
    </div>
</body>

</html>